# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
      args: ['--unsafe']

- repo: local
  hooks:
    - id: validate-html
      name: Validate HTML
      entry: .pre-commit-hooks/validate-html.py
      language: python
      files: ^docs/index\.html$
      pass_filenames: true
